# Ignore virtual environment
venv/

# Ignore Python cache (including Jupyter notebooks)
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore machine learning artifacts
models/
logs/
*.npz
*.zip
*.pt
*.ckpt

# Ignore cache directories, and their contents
cache/
*.cache

